.bcrumb {
  display: flex;
  align-items: center;
  .icon {
    width: 20px;
    height: 14px;
    margin-right: 5px;
    cursor: pointer;
  }
  .breadcrumb {
    padding: 0;
    margin: 0;
    .breadcrumb-item {
      line-height: 22px;

      a {
        text-decoration: none;
        color: #282723;
        &:hover {
          color: #0075ff;
        }
      }
    }
    .breadcrumb-item.active {
      color: #0075ff;
      font-weight: 500;
    }
  }
}
