@import '_setting.scss';

.business-register {
  width: 100%;
  .layout {
    margin-top: 160px;
    background: url('../images/layout.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .section-about {
    display: flex;
    justify-content: center;
    align-items: center;

    .picture-group {
      max-width: 50vw;
      min-height: 500px;
      position: relative;
      text-align: center;

      .hex-1 {
        display: flex;
        width: 300px;
        position: absolute;
        bottom: -80px;
        right: -40px;
      }

      .hex-2 {
        display: flex;
        width: 300px;
        position: absolute;
        right: 250px;
        bottom: 80px;
      }

      .hex-3 {
        display: flex;
        width: 300px;
        position: absolute;
        right: -10px;
        top: 0px;
      }

      .hex-4 {
        display: flex;
        width: 300px;
        position: absolute;
        right: 280px;
        bottom: 95px;
        z-index: 2;
      }

      .hex-5 {
        display: flex;
        width: 300px;
        position: absolute;
        bottom: -65px;
        right: -10px;
        z-index: 1;
      }

      .circle-1 {
        display: flex;
        position: absolute;
        top: 80px;
        right: 300px;
      }

      .circle-2 {
        display: flex;
        position: absolute;
        top: 30px;
        right: -30px;
      }

      .circle-3 {
        display: flex;
        position: absolute;
        bottom: 200px;
        right: -40px;
      }

    }

    .content {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .description {
        margin-right: 70px;
      }

      .btn {
        max-width: 300px;
        text-align: left !important;
        border-radius: 10px !important;
        justify-content: center;
      }

      .icon {
        border-radius: 50%;
        background: linear-gradient(265.95deg, rgba(186, 123, 29, 0.8) -59.03%, rgba(255, 224, 178, 0.8) 6.24%, rgba(255, 191, 67, 0.8) 111.24%);
      }
    }

    .image {
      width: 100%;
    }
  }

  .button-gray {
    background-color: rgba(171, 171, 171, 0.5);
    border: 0;

    &:hover {
      color: white !important;
    }
  }

  .nav-link.active.no-underline {
    border: 0 !important;
  }

  .text-pointer {
    cursor: pointer !important;

    &:hover {
      color: $primary !important;
    }
  }

  .layout-2 {
    max-width: 90%;
    margin-top: 120px;
  }

  .sign-up-block {
    width: 100%;
    text-align: center;

    h2 {
      font-weight: bold;
      font-size: 48px;
      line-height: 52px;
      color: rgb(20, 20, 20);
      margin: 120px 0px 40px;
    }

    .sign-up-form {
      max-width: 672px;
      margin: 0 auto;

      .sign-up-tabs {
        border: 1px solid rgba(0, 0, 0, 0.08);
        border-radius: 8px;
        background: #F3F3F3;
        margin-bottom: 60px;

        .ant-tabs-nav-list {
          width: 100%;
        }

        .ant-tabs-tab {
          width: 100%;
          height: 88px;
          display: flex;
          justify-content: center;
          font-style: normal;
          font-weight: bold;
          font-size: 26px;
          line-height: 32px;
          color: rgb(67, 67, 67);
          background-color: #F3F3F3;
          padding: 28px 0px 20px;
          margin-left: 0;
        }

        .ant-tabs-tab-active {
          background-color: #F3F3F3;
          color: rgb(44, 44, 44);
          border: 0;
          justify-content: left;
          padding-left: 45px;

          .ant-tabs-tab-btn {
            color: rgb(44, 44, 44);
            border-bottom: 4px solid black;
            padding-bottom: 4px;
          }
        }
      }
    }
  }
}