@import '_setting.scss';

.layout {
  margin-top: 80px;
  .sign-up-card {
    padding: 10%;
    .text-1 {
      font-size: large;
    }
    .btn {
      background: #FFB31F;
      font-weight: 500;
    }
    .password-field {
      display: flex;
    }
  
    .eye-icon {
      margin-bottom: -30px;
      margin-top: 10px;
      margin-left: -30px;
      cursor: pointer;
    }
  }
}