.page-container {
  width: 100%;
  padding-left: 130px !important;
  padding-right: 130px !important;
}
@media (max-width: 1200px) {
  .page-container {
    padding-left: 100px !important;
    padding-right: 100px !important;
  }
}
@media (max-width: 992px) {
  .page-container {
    padding-left: 80px !important;
    padding-right: 80px !important;
  }
}
@media (max-width: 768px) {
  .page-container {
    padding-left: 50px !important;
    padding-right: 50px !important;
  }
}
@media (max-width: 576px) {
  .page-container {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}
/*btn primary*/
.btn-primary {
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.01em;
  user-select: none;
  background: #ffb31f;
  border-radius: 50px;
  padding: 8px 20px;
  border: none;
  color: #282723;
  &:hover {
    color: #373633;
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.2),
        rgba(255, 255, 255, 0.2)
      ),
      #ffb31f;
  }
}
.form-label {
  font-weight: 600 !important;
  margin-bottom: 4px !important;
  span {
    color: #ff4f4f;
  }
}
.form-input {
  height: 40px;
  border-radius: 12px;
  color: #282723;
  border: 1px solid #d9d9d9 !important;
  box-shadow: unset !important;
  width: 100%;
  outline: none;
  &:hover {
    border-color: #d9d9d9 !important;
  }
  &:focus {
    border-width: 1px !important;
    border-color: #d9d9d9;
    box-shadow: unset !important;
  }
}
.form-single-select {
  &.ant-select {
    width: 100%;
    &.ant-select-focused {
      .ant-select-selector {
        border-color: #d9d9d9 !important;
        box-shadow: none !important;
      }
    }
    .ant-select-selector {
      height: 40px;
      border-radius: 12px;
      border: 1px solid #d9d9d9 !important;
      display: flex;
      align-items: center;
      .ant-select-selection-search-input {
        height: 100%;
      }
    }
    &:hover {
      .ant-select-selector {
        border-color: #d9d9d9;
      }
    }
  }
}
/*CUSTOM SCROLL BAR*/
.scroll-bar-custom::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  margin-right: 5px;
}
.scroll-bar-custom ::-webkit-scrollbar-track {
  color: #c4c4c4;
  border-radius: 6px;
}
.scroll-bar-custom::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
