.confirm-booking-modal {
  .hour-web {
    display: unset;
  }
  .hour-mobile {
    display: none;
    .date-dropdown {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: 600;
      color: #0075ff;
      font-size: 16px;
      margin-bottom: 10px;
    }
  }
  @media (max-width: 1300px) {
    .hour-web {
      display: none;
    }
    .hour-mobile {
      display: unset;
    }
  }
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #ffb31f;
}
.ant-tabs-tab:hover {
  color: #ccc;
}
.ant-tabs-ink-bar {
  background: #ffb31f;
}
