.react-datepicker__month-container {
  @media (min-width: 768px) {
    width: 498px;
  }
}

.react-datepicker__day--keyboard-selected {
  background: #fff;
  color: #000;
}
.react-datepicker__day--disabled {
  color: #ccc !important;
}
.react-datepicker,
.react-datepicker__header {
  border: none;
  background: #fff;
}

.date-picker.mb-3 {
  padding-left: 0 !important;
}

.react-datepicker__day-name,
.react-datepicker__day {
  margin: 10px;
  @media (min-width: 768px) {
    margin: 15px;
  }
}

.react-datepicker__day--selected {
  background: #ffb31f;
}

.react-datepicker__day--outside-month {
  background: #fff;
}

.react-datepicker__day--in-range {
  color: #000;
  background: #fff1d7;
}

.react-datepicker__day--in-range.react-datepicker__day--today {
  background: #fff1d7;
}

.react-datepicker__day--in-range.react-datepicker__day--today:hover {
  background: #ffb31f !important;
}

.react-datepicker__day:hover {
  background: #ffb31f;
}

.react-datepicker__day--in-selecting-range {
  color: #000;
  background: #fff1d7 !important;
}

.react-datepicker__day--today.react-datepicker__day--in-selecting-range {
  color: #000;
  background: #fff1d7;
}

.react-datepicker__day--selecting-range-start,
.react-datepicker__day--selecting-range-end {
  background: #ffb31f !important;
}

.react-datepicker__day--range-start,
.react-datepicker__day--range-end {
  background: #ffb31f !important;
}

.text-gray {
  color: gray;
}

.btn-orange {
  background: #ffb31f;
}

.btn-orange:hover {
  background: #fff1d7;
}

.text-red {
  h4 {
    color: red;
  }
}


.react-datepicker__month {
  .react-datepicker__month-text {
    width: 8rem;
  }
}
.react-datepicker__month {
  &--selected,
  &--in-selecting-range,
  &--in-range {
    background-color: #ffb31f;
    color: #000;

    &:hover {
      background-color: darken(#ffb31f, 5%);
    }
  }
}
.react-datepicker__month-text {
  &:hover {
    background-color: #fff1d7;
  }

  &--selected,
  &--in-selecting-range,
  &--in-range {
    background-color: #ffb31f;
    color: #000;

    &:hover {
      background-color: darken(#ffb31f, 5%);
    }
  }

  &--keyboard-selected {
    background-color: lighten(#ffb31f, 5%);
    color: #000;

    &:hover {
      background-color: darken(#ffb31f, 5%);
    }
  }

  &--in-selecting-range:not(&--in-range) {
    background-color: rgba(#ffb31f, 0.5);
  }

  &--in-range:not(&--in-selecting-range) {
    .react-datepicker__month--selecting-range & {
      background-color: #fff1d7;
      color: #000;
    }
  }
}
.react-datepicker__month-text {
  &.react-datepicker__month--selected,
  &.react-datepicker__month--in-range {
    &:hover {
      background-color: #ffb31f;
    }
  }

  &:hover {
    background-color: #fff1d7;
  }
}
