@import '_setting.scss';

.home {
  margin-top: 80px;
  .section-1 {
    width: 100%;
    background: url('../images/layout.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20px;
  }
  .section-2 {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .section-3 {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    .working-space-type-card {
      width: 100%;
      height: fit-content;
      border-radius: 30px;
      overflow: hidden;
      position: relative;
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 48.75%,
        rgba(0, 0, 0, 0.8) 100%
      );
      .image {
        width: 100%;
        position: relative;
        z-index: -1;
      }
      .footer-section {
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px 30px;
        color: white;
        flex-shrink: 1;
        .content {
          flex: 1;
          margin-right: 10px;
          .title {
            font-weight: 700;
            font-size: 20px;
            margin-bottom: 15px;
          }
        }
        .btn-discover {
          background: rgba(171, 171, 171, 0.5);
          box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.15);
          backdrop-filter: blur(3px);
          border: rgba(171, 171, 171, 0.5);
          font-weight: 600;
          height: fit-content;
          padding: 5px 12px;
          border-radius: 50%;
          border-radius: 100px;
          transition: 0.2s;
          &:hover {
            background: rgba(240, 240, 240, 0.5);
            box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.15);
          }
        }
      }
    }
  }
  .col-right {
    margin-top: 60px;

    @media (max-width: 768px) {
      margin-top: 20px;
    }
  }
}
