.locations {
  > .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(240, 240, 240);
    .title {
      font-size: 32px;
      font-weight: 600;
      line-height: 40px;
    }
  }
  .body {
    display: flex;
    padding-top: 20px;
    .left {
      width: 220px;
      margin-right: 24px;
      margin-bottom: 20px;
    }
    .right {
      flex: 1;
      > .header {
        padding-bottom: 20px;
        border-bottom: 1px solid rgb(240, 240, 240);
      }
      .body {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
@media (max-width: 768px) {
  .locations {
    > .header {
      .title {
        font-weight: bold;
        font-size: 20px;
        line-height: 23px;
      }
    }
    .body {
      flex-direction: column;
      .left {
        width: 100%;
      }
    }
  }
}
