@import '_setting.scss';

.space-partner {
  margin-top: 80px;
  .section-1 {
    width: 100%;
    background: url('../images/layout.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .section-2 {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .section-3 {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .section-4 {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    .feature-card {
      width: 100%;
      background: linear-gradient(
        137.25deg,
        #eeeeee 3.09%,
        #ebebeb 41.75%,
        #ffffff 100%
      );
      border-radius: 10px;
      text-align: center;
      height: 100%;
      .relationship-icon {
        margin-left: auto;
        margin-right: auto;
        width: 60px;
        background-color: white;

        .image-icon {
          height: 55px;
          padding-top: 10px;
          padding-bottom: 10px;
        }
      }
      .text-solution {
        text-align: justify;
      }
    }
  }
  .section-5 {
    width: 100%;
    background: url('../images/layout.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .section-6 {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 20px;
    .sign-up-block {
      h2 {
        margin-bottom: 20px;
      }
      width: 100%;
      text-align: center;
      .sign-up-form {
        width: 100%;
        .sign-up-tabs {
          border: 1px solid rgba(0, 0, 0, 0.08);
          border-radius: 8px;
          background: #f3f3f3;
          margin-bottom: 60px;
          .ant-tabs-nav-list {
            width: 100%;
          }
          .ant-tabs-tab {
            width: 100%;
            height: 88px;
            display: flex;
            justify-content: center;
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 32px;
            color: rgb(67, 67, 67);
            background-color: #f3f3f3;
            margin-left: 0;
            margin-right: 0;
          }
          @media (max-width: 768px) {
            .ant-tabs-tab {
              font-size: 16px;
            }
          }
          .ant-tabs-tab-active {
            background-color: #f3f3f3;
            color: rgb(44, 44, 44);
            border: 0;
            justify-content: left;
            padding-left: 20px;

            .ant-tabs-tab-btn {
              color: rgb(44, 44, 44);
              border-bottom: 4px solid black;
              padding-bottom: 4px;
            }
          }
        }
      }
    }
  }
}
