.tag {
  font-weight: 400;
  font-size: 14px;
  display: inline-block;
  width: fit-content;
  padding-right: 4px;
  margin: 0px 4px 4px 0px;
  vertical-align: middle;
  line-height: 24px;
  height: 24px;
  padding-left: 4px;
  border-radius: 2px;
  color: rgb(244, 110, 74);
  background-color: rgb(252, 249, 245);
  white-space: nowrap;
}
