.tag {
  font-weight: 400;
  font-size: 14px;
  display: inline-block;
  padding: 2px 12px;
  margin: 0px 4px 4px 0px;
  vertical-align: middle;
  background: #eceae3;
  border: 1px solid #e0dbc5;
  border-radius: 10px;
  white-space: nowrap;
  color: #5e5b50;
}
