.timeslot-view {
  min-height: 36px;
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  align-items: flex-end;
  flex-wrap: wrap;
  .slot {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 35px;
    background: white;
    border-top: 1px solid rgb(217, 217, 217);
    border-right: 0.5px solid rgb(217, 217, 217);
    border-bottom: 1px solid rgb(217, 217, 217);
    border-left: 0.5px solid rgb(217, 217, 217);
    box-sizing: border-box;
    margin-top: 16px;
    margin-bottom: 10px;
    cursor: pointer;
    span {
      position: absolute;
      top: -15px;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.01em;
      color: rgb(191, 191, 191);
    }
    @media (max-width: 1300px) {
      width: calc(100% / 9);
    }
  }

  .slot.over {
    background: rgb(240, 240, 240);
    cursor: not-allowed;
    pointer-events: none;
  }
  .slot.selected {
    background-color: #ffb31f !important;
  }
  .slot.hover {
    background-color: #ffeac2;
  }
}
