@import '_setting.scss';
.topbar {
  padding: 0;
  .navbar-collapse {
    padding: 0px 10px;
  }
  .nav-item-link {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.55);
    &:hover {
      color: $primary !important;
    }
  }
  .nav-item-link.active {
    font-weight: 700;
    color: #595959;
    border-bottom: 4px solid $primary;
  }
  .nav-link {
    display: flex;
    align-items: center;
  }
  .nav-link.active {
    border-bottom: none;
  }
}
